name: FTP Deploy

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4
    
    - name: FTP Deploy
      uses: sebastianpopp/ftp-action@releases/v2
      with:
        host: monsieur-noir.sakura.ne.jp
        user: monsieur-noir
        password: ${{ secrets.FTP_PASSWORD }}
        remoteDir: www/studioNoiR/github-test/