name: FTP Deploy

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v3.1.1
      with:
        ftp-server: ftp://monsieur-noir.sakura.ne.jp/www/studioNoiR/github-test/
        ftp-username: monsieur-noir
        ftp-password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./